In [1]:
import numpy as np
import pandas as pd

In [2]:
pwd

'C:\\Users\\Vaquita'

In [3]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n√∫mero de serie del volumen es: 462B-5518

 Directorio de C:\Users\Vaquita

05/11/2025  12:34    <DIR>          .
05/11/2025  12:34    <DIR>          ..
05/09/2024  16:42    <DIR>          .anaconda
04/08/2025  03:22    <DIR>          .android
05/11/2025  13:02    <DIR>          .conda
31/10/2025  13:32                60 .condarc
31/03/2025  17:44    <DIR>          .config
05/09/2024  15:15    <DIR>          .continuum
25/04/2025  02:55    <DIR>          .cursor
04/08/2025  03:14    <DIR>          .gradle
05/11/2025  12:25    <DIR>          .ipynb_checkpoints
05/09/2024  15:34    <DIR>          .ipython
13/01/2025  14:31    <DIR>          .jupyter
31/03/2025  17:45    <DIR>          .m2
13/01/2025  14:40    <DIR>          .matplotlib
01/04/2025  00:51    <DIR>          .openjfx
04/08/2025  03:17    <DIR>          .skiko
13/02/2025  18:14               284 .Untitled5.ipynb.layout
14/02/2025  15:56    <DIR>          .virtual_documents
22/08/2024  20:44             6.579 -1.14-windows.xml
24/07/2025  04:32            61.119 2424.fst
29/03/2024  02:39    <DIR>          3D Objects
09/02/2025  02:56         2.234.044 AMD_RyzenMaster.log
09/02/2025  02:56             8.827 AMDRM_Install.log
31/10/2025  13:29    <DIR>          anaconda_projects
03/11/2025  11:21    <DIR>          anaconda3
04/08/2025  03:13    <DIR>          AndroidStudioProjects
31/10/2025  16:06             2.741 array.ipynb
29/03/2024  02:39    <DIR>          Contacts
13/10/2024  15:31    <DIR>          curseforge
05/11/2025  12:26    <DIR>          Desktop
31/10/2025  13:21    <DIR>          Documents
05/11/2025  12:21    <DIR>          Downloads
05/11/2025  12:21             5.508 Ejemplo_excel.xlsx
31/10/2025  13:58             2.384 EX1.ipynb
03/11/2025  14:12            11.727 EX11 - Pandas Tratamiento datos nulos o sin valor.ipynb
03/11/2025  16:52             9.495 EX13 - Merge DataFrames.ipynb
03/11/2025  16:47             9.574 EX14 - Pandas - Combinar DataFrames.ipynb
03/11/2025  16:59             6.870 EX15 - Join DataFrames(Pandas).ipynb
03/11/2025  17:14            15.716 EX16 - Operaciones (Pandas).ipynb
05/11/2025  12:34            16.277 EX17 - Pandas Ficheros Excel .ipynb
31/10/2025  14:44             2.571 EX2.ipynb
31/10/2025  15:38             2.559 EX3.ipynb
31/10/2025  15:46             2.030 EX4.ipynb
31/10/2025  17:01             2.558 EX5.ipynb
31/10/2025  17:07             2.404 EX6.ipynb
03/11/2025  11:47             4.986 EX7.ipynb
03/11/2025  12:30            21.261 EX8 - DataFrames.ipynb
03/11/2025  12:44            15.318 EX9 - DataFrame Condiciones.ipynb
03/11/2025  13:58            11.847 EX9 - DataFrame Modificacion de los nombres de las filas.ipynb
29/03/2024  02:39    <DIR>          Favorites
13/02/2025  18:06               760 First steps with Jupyter.ipynb
29/03/2024  02:39    <DIR>          Links
25/08/2024  16:47    <DIR>          Music
05/09/2024  15:39             1.802 My first Program.ipynb
06/09/2024  12:57    <DIR>          My First Project in Jupyter
19/07/2024  16:57    <DIR>          Noire
13/09/2024  03:20    <DIR>          OneDrive
03/11/2025  14:32             8.823 Pandas - Agrupacion de datos.ipynb
16/09/2025  11:31    <DIR>          Pictures
14/02/2025  15:58    <DIR>          Recipes
01/08/2025  03:34    <DIR>          Saved Games
29/03/2024  02:40    <DIR>          Searches
08/09/2024  13:23    <DIR>          source
31/10/2025  16:47             5.013 test3.ipynb
31/10/2025  16:52             8.485 test7.ipynb
31/10/2025  16:18            12.198 testing.ipynb
31/10/2025  16:20             4.860 testing2.ipynb
05/09/2024  16:44             2.656 Untitled.ipynb
05/09/2024  16:42                72 Untitled1.ipynb
03/11/2025  11:25                72 Untitled10.ipynb
03/11/2025  11:29                72 Untitled11.ipynb
03/11/2025  12:52               614 Untitled12.ipynb
06/09/2024  12:32                72 Untitled2.ipynb
13/01/2025  14:29                72 Untitled3.ipynb
13/02/2025  18:06                72 Untitled4.ipynb
13/02/2025  18:17            25.565 Untitled5.ipynb
30/10/2025  15:10               617 Untitled6.ipynb
31/10/2025  13:29               337 Untitled7.ipynb
31/10/2025  15:53                72 Untitled8.ipynb
31/10/2025  16:01             7.903 Untitled9.ipynb
17/09/2025  11:15    <DIR>          Videos
23/04/2025  17:14        27.009.872 worldpainter_2.24.0.exe
              45 archivos     29.546.748 bytes
              38 dirs  327.179.390.976 bytes libres

In [4]:
dataframe = pd.read_excel('Ejemplo_excel.xlsx')

In [5]:
dataframe

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [6]:
dataframe['e'] = [20,21,22,23]

In [7]:
dataframe

   Unnamed: 0   a   b   c   d   e
0           0   0   1   2   3  20
1           1   4   5   6   7  21
2           2   8   9  10  11  22
3           3  12  13  14  15  23

In [8]:
dataframe.to_excel('salida_excel.xlsx', sheet_name='Hoja1')